; IQ Notifier config
;
; 'enabled' is false by default everywhere

[theme]
theme_name = default

[popup_notifications]
; you can disable floating notifications
enabled = true

close_all_by_right_click = true
close_visible_by_middle_click = true
close_by_left_click = false

; spacing between notifications
spacing = 5
; margins between screen borders and notification area
global_margins = 0,20,20,0 

; you should set both width and height to see changes
width = 400
height = 132

; you should set both width and height to see changes
extra_window_width = 400
extra_window_height = 32

[history]
enabled = true

;;;;;;;;;; modifiers ;;;;;;;;;;

[default_timeout]
; be careful disabling this modifier!
enabled = true
; 0 for default (3500)
;default_timeout = 1000

; try to find app icon when title is same as application name
[title_to_icon]
enabled = true

[body_to_title_when_title_is_app_name]
enabled = true

[replace_minus_to_dash]
enabled = true
title = true
body = false

