[Desktop Entry]
Type=Application
Version=1.1
Name=iq-notifier
GenericName=Notification daemon
Comment=Fancy and flexible notification daemon
Exec=iq-notifier
Terminal=false
Implements=org.freedesktop.Notifications
